@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 360 50% 0%;
    --foreground: 360 5% 100%;

    --card: 360 50% 5%;
    --card-foreground: 360 5% 100%;

    --popover: 360 50% 5%;
    --popover-foreground: 360 5% 100%;

    --primary: 360 63% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 360 30% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 322 30% 15%;
    --muted-foreground: 360 5% 60%;

    --accent: 322 30% 15%;
    --accent-foreground: 360 5% 100%;

    --destructive: 0 100% 30%;
    --destructive-foreground: 360 5% 100%;

    --border: 360 30% 18%;
    --input: 360 30% 18%;
    --ring: 360 63% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
